@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.uppercase {
    text-transform: uppercase;
}

.nav-item a{
    color: white;
    font-size: 150%;
    font-weight: 200;
    padding-top: 20px;
}

.nav-item a:hover {
    color: #b69426;
}

#logo-container {
    width: 300px;
    height: 300px;
    /* padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%; */
    margin: 0 auto;
    background-color: ;
}

#logo-cover-bg {
    background: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 50%;
}

.bg-color-nav-links {
    background-color: #351c44;
    min-height: 80px;
}

.carousel-inner{
    width:100%;
    max-height: 600px !important;
  }

footer {
    background-color: #351c44;
    color: white;
    min-height: 80px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #9CAF88;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #b69426;
}

#footer-details {
    padding: 20px;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.about-us-icon {
    font-size: 30px;
    color: #351c44;
}

.about-us-heading {
    margin-bottom: 10px;
    color: #351c44;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

.section-heading {
    color: #351c44;
    font-size: 200%;
    font-weight: 400;
    font-family: 'Dancing Script', cursive;
}

.bg-color-about-us {
    background-color: #9CAF88;
}

.bg-color-contact-us {
    background-color: #9CAF88;
}

.form-control {
    background-color: #9CAF88;
    border: 1px solid black;
}

.contact-us-section {
    margin-bottom: 5px;
}

.submit-form-btn {
    background-color: #351c44;
    border: none;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.submit-form-btn:hover {
    background-color: #b69426;
    color: #351c44;
}